@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App-logo {
  height: 6em;
}

.App-title {
  font-size: 4em;
 
}
.App-description {
  font-size: 1.5em;
  color: #000;
  background-color: rgb(246, 226, 6);
  padding: 10px;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}


.App-footer {
  position: relative;
  top: 170px;
}