@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;

  
}

#root {
  
  min-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-image: url('./assets/background.jpg/');
  background-size: cover;
  background-repeat: no-repeat;
  
}


.App-description {

  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 900px;
  font-size: 1.0em;
  color: #000;
  background-color: rgb(246, 226, 6);
  padding: 10px;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.App-button {
  color: #000;
  font-size: 1.0rem;
  margin-top: 40px;
  background-color: rgb(246, 226, 6);
  border-radius: 8px;
  width: 200px;
  height: 60px;
  text-align: center;
  border: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: bold;
  
  
}

.App-share {
  
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.App-share span {
  color: rgb(238, 255, 4);
  text-align: center;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: bold;
  margin-top: 30px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
.App-share-icons {
  
  
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
  
}

.App-footer {
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 99%;
  margin-top: 40px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1em;
 
  color: aliceblue;
}

@media screen and (max-width: 800px) {
  #root {
    width: 500px;
  }
  .App-description {
    min-width: 200px;
    justify-content: center;
    font-size: 12px;
  }
}